<!-- hospital_app/templates/contact.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>

<body>
    <h2>Contact Us</h2>
    <p>Feel free to reach out to us for any inquiries or assistance.</p>

    <!-- You can add your contact form or any additional content here if needed -->

    <p><a href="{% url 'home' %}">Home</a></p>
    <p><a href="{% url 'registration' %}">Patient Portal</a></p>
    <p><a href="{% url 'login' %}">Login</a></p>
</body>

</html>